# misc
.DS_Store
*.log
.cache
*.local

# build output
dist
dist-ssr
server/dist
public/dist

# npm
node_modules

# turbo
.turbo

# yarn - see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions